body{
    font-family: 'Merriweather', serif;
}
header{
    background-color: purple;
    text-align: center;
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px;
    color: white;
}
div#hcfCalc{
    width: 90%;
    max-width: 400px;
    margin: auto;
    border: 5px solid purple;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px pink;
    color:purple;
}
div#hcfCalc p{
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
}
#button{
    width: 100px;
    margin: auto;
}
button{
    color: purple;
}

@media screen and (max-width:660px){
    header{
        height: auto;
    }   
}
